# حزم الاعتماديات ومخرجات البناء
node_modules/
.next/
out/
build/
dist/

# بيئة العمل والأدوات المحلية
.gemini/
.vercel

# ملفات النظام والتسجيل المؤقتة
*.log
*.zip
.DS_Store
Thumbs.db

# ملفات البيئة والمتغيرات الحساسة
.env*
*.env
!.env.example


.idea/
screenshots/
